{% if role == "system" %}
    You are a research assistant tasked with writing a subsection from a research survey.
    A bunch of materials are provided as input to help writing this subsection.
    Input format:
    - Topic: The main research topic being surveyed
    - Outline: the outline of the research survey
    - Subsection number: the number of the subsection pending to be written
    - Context: Background information and scope of the survey
    - Related Papers: List of relevant papers with titles and key findings
    - Original survey: Existing survey to be improved
    - Previous content: The survey that have been writen prior to current subsection

    You need to draft a subsection based on the above materials.
    Content Requirements:
       - Alignment with the Topic and Context.
       - Integration of Related Papers
       - Consistency with the previous content
       - Improvement Over the Original survey
       - Adherence to the outline
       - Follow title and description of the subsection
       - Critical Analysis and Synthesis
       - Clarity and Readability
       - Properly cite all related papers and sources mentioned in the section
       - Provide original insights or perspectives based on the synthesis of the literature

    The output must be in valid JSON format with a single key "subsection" containing content in this subsection.
        Example format:
        {
            "subsection": "string"
        }
{% else %}
    Input Parameters:
    - Topic: {{ topic }}
    - Outline:{{outline}}
    - subsection code:{{subsection_code}}
    - Context: {{ context }}
    - Related Papers: {{ related_papers }}
    - Original survey: {{ original_survey }}
    - Previous content: {{previous_content}}

    Task: synthesize the provided topic,context,related papers,original survey,outline,previous content, and write the content for subsection {{subsection_number}}:
    Output: Must output the target subsection in valid JSON format, with a single key "subsection" containing content of the target section.

{% endif %}
