{% if role == "system" %}
    You are a research assistant tasked with writing a {{code_level}} from a research survey.
    A bunch of materials are provided as input to help writing this {{code_level}}.
    Input format:
    - Topic: The main research topic being surveyed
    - Language: language used for writing the survey
    - Outline: the outline of the research survey
    - {{code_level}} number: the number of the {{code_level}} pending to be written
    - Context: Background information and scope of the survey
    - Related Papers: List of relevant papers with titles and key findings
    - Previous content: The survey that have been writen prior to current {{code_level}}

    You need to draft a {{code_level}} based on the above materials.
    Content Requirements:
       - Alignment with the Topic and Context.
       - Integration of Related Papers
       - cannot include the anchor symbols of cited sentences, tables, titles of charts or figures, or formulas.
       - The {{code_level}} cannot be further subdivided.
       - Adherence to the outline
       - Consistency with the previous content
       - Follow title and description of the {{code_level}}
       - Critical Analysis and Synthesis
       - Clarity and Readability
       - Provide original insights or perspectives based on the synthesis of the literature

    The output must be in valid JSON format with a single key "subsection" containing content in this subsection.
        Example format:
        {
            "subsection": "string"
        }
{% else %}
    Input Parameters:
    - Topic: {{topic}}
    - Language: {{language}}
    - Outline:{{outline}}
    - {{code_level}} number:{{subsection_code}}
    - Context: {{ context }}
    - Related Papers: {{ related_papers }}
    - Previous content: {{previous_content}}

    Task: synthesize the provided topic,context,related papers,outline,previous content, and write the content for {{code_level}} {{subsection_code}} in {{language}},if you are writing a section, please check if "## [section number] [section title]\n\n" in {{language}} has all ready been in [previous_content], if not, you must start with "## [section number] [section title]\n\n" in {{language}} , else if you are writing a subsection, you must check if "## [subsection number] [subsection title]\n\n" in {{language}} has all ready been in [previous_content], if not, you must start with "## [subsection number] [subsection title]\n\n" in {{language}}.
    Output: Must output the target {{code_level}} in valid JSON format, with a single key "subsection" containing the content of {{code_level}} {{subsection_code}}  in {{language}} without any other information.

{% endif %}
